node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

#credentials
credentials

#environment
environment.js

#e2e
bin
setup.sh
e2e
